<template>
<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">      
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Gestionnaire de contacts</h3>
            <form method="post">
            <div class="form-field mb-4">  
                <span class="iconLogin"><i class="fa fas fa-user"></i></span>   
                <input name="username" v-model="username" placeholder="Entrer votre nom d'utilisateur" class="form-control form-control-lg" />              
            </div>

            <div class="form-field mb-4">
                <span class="iconLogin"><i class="fa fa-lock"></i></span> 
                <input name="password" v-model="password" :type="type" placeholder="Entrer votre mot de passe" class="form-control form-control-lg" />
                <button class="button" @click.stop.prevent="toggleShow">
                    <span :class="icon">                      
                        <i :class="[showPassword ? 'fa fa-eye' : 'fa fa-eye-slash']"></i>                      
                    </span>
                </button>
            </div>
            <button id="btnSubmit" class="btn btn-primary btn-lg btn-block" @click.stop.prevent="submit" type="submit">{{btnConnect}}</button>
            </form>

            <hr class="my-4">
            <!--
            <div class="alert" style="display:none">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              This is an alert box.
            </div> 
            -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</template>

<script>
import bcrypt from 'bcryptjs';
import axios from 'axios';

export default {
  data() {
    return {   
      btnConnect: 'Se connecter',
      btnConnectDisabled: '',
      id: '',
      showPassword: false,
      username: null,
      password: null,
      type: 'password',
      icon: 'showEye',
      users:[],
      checkLogin: false,
      apiURL: this.$store.state.apiUrl  
    };
  },
  mounted(){
    document. getElementById("btnSubmit").disabled = false
  },
  methods: {
    toggleShow() {
      if(this.type === 'password'){
          this.type = 'text';
          this.icon = 'showEye';
          this.showPassword = true;
      }else{
          this.type = 'password';
          this.icon = 'hideEye';
          this.showPassword = false;
      }   
    },     
    submit(){      
      this.btnConnect = 'Connexion ...'
      document.getElementById("btnSubmit").disabled = true
      fetch(this.apiURL+'users')
        .then(response => response.text())
        .then(data => {
          console.log(data);
          this.users = eval('(' + data + ')')

          for(let prop of this.users){
            console.log("Username : ", prop.username)

            if(this.username === prop.username && bcrypt.compareSync(this.password, prop.motdepasse)) {
              axios.post(this.apiURL+'updateUserState', new URLSearchParams(
              {
                  id: prop._id,
                  userState: true                  
              }))
              .then((res) => console.log("result : ", res.data, "retour serv : ", res))

              this.checkLogin = true
              this.id = prop._id

            }   
          }
          if(this.checkLogin){             
            const id = this.id
            const bufId = Buffer.from(id, "utf8")
            const base64EncodeId = bufId.toString("base64")
            console.log(base64EncodeId)

            this.$router.push({name: "contactsList", query:{id: base64EncodeId}})
          }
          else{
              if(this.username == null || this.password == null){
                alert('Veuillez renseigner tous les champs')                            
              }                
              else{
                alert('Login ou mot de passe incorrect !!!')              
              } 
                this.btnConnect = 'Connexion'
                document.getElementById("btnSubmit").disabled = false      
          }
        });         
    
    }
  }
};
</script>