<template>
  <div class="modal-overlay">
    <div class="modal-form">
        <!--<img class="check" src="~/assets/check-icon.png" alt="" />-->
        <h3 style="margin-top:-15px">{{update ? 'Modifier le contact' : 'Nouveau contact'}}</h3>
        <hr />
        <div style="padding:5px;margin:5px;text-align:left">
            <form method="post">
                <div class="form-group">
                    <label for="nom">Nom:</label>
                    <input v-model="nomVal" type="text" class="form-control" id="nom" >                    
                    <!--<input v-model="form.id" type="hidden" class="form-control" id="id" >-->
                </div>
                <div class="form-group">
                    <label for="prenoms">Prénoms:</label>
                    <input v-model="prenomsVal" type="text" class="form-control" id="prenoms" >
                </div>
                <div class="form-group">
                    <label for="email">Adresse e-mail:</label>
                    <input v-model="mailVal" type="text" class="form-control" id="email" >
                </div>
                <div class="form-group">
                    <label for="whatsapp">N° Whatsapp:</label>
                    <input v-model="whatsappVal" type="number" class="form-control" id="whatsapp" >
                </div>
                <div align="center">
                    <button @click.stop.prevent="updateContact" type="submit" :class="btnClass">{{update ? 'Valider' : 'Enregistrer'}}</button>
                </div>
            </form>
        </div>
        <hr />
      
    </div>
    
    <div class="close">
      <img class="close-img" src="~/assets/img/close-icon.png" alt="" @click="$emit('close')" />
    </div>
    
  </div>
</template>

<script>
import axios from "axios";

export default {
    props: ["update","id", "nom", "prenoms", "email", "whatsapp"],
    computed: {
        nomVal: {
            get() {
                this.form.nom = this.nom
                return this.nom;
            },
            set(val) {
                //this.$emit('input', val);
                this.form.nom = val;
            }        
        },
        prenomsVal: {
            get() {
                this.form.prenoms = this.prenoms
                return this.prenoms;
            },
            set(val) {
                //this.$emit('input', val);
                this.form.prenoms = val;
            }
        },
        mailVal: {
            get() {
                this.form.mail = this.email
                return this.email;
            },
            set(val) {
                //this.$emit('input', val);
                this.form.mail = val;
            }
        },
        whatsappVal: {
            get() {
                this.form.whatsapp = this.whatsapp
                return this.whatsapp;
            },
            set(val) {
                //this.$emit('input', val);
                this.form.whatsapp = val;
            }
        }
  },
   data() {
    return {
      btnClass: 'save-contact',
      showModal: false,
      apiURL: this.$store.state.apiUrl,
      userId: Buffer.from(this.$route.query.id, "base64"),
      form: {
        id: '',
        nom: '',
        prenoms: '',
        mail: '',
        whatsapp: ''        
      }
    };
   },
    created() {

    },   
   mounted(){
    
   },
   methods: {
    async updateContact(){   
        this.btnClass = 'save-contact-disabled'
        if(this.update){
            await axios.post(this.apiURL+'updateContact', new URLSearchParams(
            {
                id: this.id,
                nom: this.form.nom,
                prenoms: this.form.prenoms,
                email: this.form.mail,
                whatsapp: this.form.whatsapp
            }))
            .then((res) => 
            {   
                if(res.statusText === 'OK'){
                    alert("Modification réussie")
                    console.log("resultat update : ", res.data, "retour serv : ", res)
                    this.$router.go()
                }else{
                    alert("Erreur lors de la modification !!!")
                    console.log("resultat update : ", res.data, "retour serv : ", res)
                    this.$router.go()
                }                
            })            
            
            //this.$toast.success('Modification réussie', {duration: 3000, position: 'top-right'})
            
        }else{            
            await axios.post(this.apiURL+'addContact', new URLSearchParams(
            {                
                nom: this.form.nom,
                prenoms: this.form.prenoms,
                email: this.form.mail,
                whatsapp: this.form.whatsapp,
                user_id: this.userId
            }))
            .then((res) => 
            {   
                if(res.statusText === 'OK'){
                    alert("Insertion réussie")
                    console.log("resultat update : ", res.data, "retour serv : ", res)
                    this.$router.go()
                }else{
                    alert("Erreur lors de l'insertion' !!!")
                    console.log("resultat update : ", res.data, "retour serv : ", res)
                    this.$router.go()
                }                
            })
            
            //setTimeout(this.$toast.success('Insertion réussie', {duration: 3000, fullWidth: true}), 2000)
        }        
    }
   }
}
</script>
