.form-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
  }
  
  .iconLogin{
    padding: 10px;
    background-color: #508BFC;
    color: white;
  }
  /*
  .button{
    border-color: 1px solid white;
    background-color: white;
  }
  */
  .showEye{    
    /*font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f007";*/
    content: "\10f007";
  }

  .hideEye{
    /*background-color: green;*/
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: #000000da;
  }
  
  .modal-form {
    text-align: center;
    background-color: white;
    height: auto;
    width: 500px;
    margin-top: 1%;
    padding: 60px 0;
    border-radius: 20px;    
  }

  .close {
    margin-top: 16px;
    margin-left:-30px;
    cursor: pointer;
  }
  
  .close-img {
    width: 25px;
  }
  
  .check {
    width: 150px;
  }
  
  p {
    font-size: 16px;
    margin: 20px 0;
  }
  
  .save-contact {
    background-color: #007BFF;
    width: 150px;
    height: 40px;
    color: white;
    font-size: 14px;
    border-radius: 16px;
    cursor:pointer;       
  }

  .save-contact-disabled {
    background-color: grey;
    width: 150px;
    height: 40px;
    color: white;
    font-size: 14px;
    border-radius: 16px;
    cursor: not-allowed;
    pointer-events: none;
  }

  .noLoading{    
    display: none;    
  }

  .loading{
    display: block;
    margin-top: -30px;
    margin-bottom: -50px;
    opacity: 0.5;
  }