<template>
    <div>
        <nav class="navbar navbar-dark bg-primary">
            <a style="color:white" class="navbar-brand">Bienvenue</a>        
            <button type="button" @click="logout" class="btn btn-info">Se déconnecter&nbsp;&nbsp;<i class="fa fa-sign-out"></i></button>      
        </nav>
        <hr />
        <div class="container" align="center">
            <div class="row">
                <div class="col"></div>
                <div class="col"><h3>Liste de vos contacts</h3></div>
                <div class="col" align="right">
                    <button type="button" @click="initForm" style="border-radius:20px" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;&nbsp;Ajouter</button>
                </div>
            </div>

            <br />  

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="display:none">Id</th>
                        <th>Nom</th>
                        <th>Prénoms</th>
                        <th>Email</th>
                        <th>Whatsapp</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>  
                <tbody>
                    <tr class="forLoading">
                         <td colspan=6 text-align="center"><img :class="loadingClass"  src="~/assets/img/loading.gif" alt="" /></td>
                    </tr>
                    <tr v-for="contact of contacts" :key="contact.id">
                        <td>{{contact.nom}}</td>
                        <td>{{contact.prenoms}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.whatsapp}}</td>
                        <td style="cursor:pointer" @click="getValue(contact)"><i class="fa fa-edit" title="Editer"></i><!--&nbsp;Editer--></td>
                        <td style="cursor:pointer" @click="deleteContact(contact)" ><i class="fa fa-remove" title="Supprimer"></i><!--&nbsp;Supprimer--></td>
                    </tr> 
                    <tr></tr>                                   
                </tbody>
            </table>
        </div>
        <NewContactModal 
            v-show="showModal"
            :update="toUpdate" 
            :id="id"
            :nom="nom" 
            :prenoms="prenoms"
            :email="email"
            :whatsapp="whatsapp"
            @close="closeModal"
        />
    </div>
   
    
</template>

<script>
import axios from "axios";
export default {
    data(){
        return{
            showModal: false,
            contacts: [],
            toUpdate: false,
            id: '',
            nom: '',
            prenoms: '',
            email: '',
            whatsapp: '',
            users: [],
            user: '',
            apiURL: this.$store.state.apiUrl,
            loadingClass: 'noLoading'
        }
    },
    created(){
        
    },
    mounted(){
        /*Block return login page *************************/
        history.pushState(null, null, document.URL)
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL)
        })
        /************************************************/
        const base64DecodeId = Buffer.from(this.$route.query.id, "base64")
        this.id = base64DecodeId
        
        fetch(this.apiURL+'user/'+this.id).then(response => response.text())
            .then(data => {
                console.log(data);
                this.user = eval('(' + data + ')')   

                 for(let prop of this.user){                    
                    if(prop.userState === 'false'){
                        alert("Veuillez vous connecter ...")
                        window.location.href='/'
                    }                       
                    else{
                        this.loadingClass = 'loading'
                        fetch(this.apiURL+'contacts/'+base64DecodeId)
                            .then(response => response.text())
                            .then(data => {
                        console.log(data)
                        this.contacts = eval('(' + data + ')')  
                        
                        this.loadingClass = 'noLoading'
                    })
                }
            }      
        })        

         
    },
    methods: {
        getValue(contact){
            this.toUpdate = true,
            this.id = contact._id;
            this.nom = contact.nom;  
            this.prenoms = contact.prenoms;  
            this.email = contact.email;
            this.whatsapp = contact.whatsapp;        
            this.showModal = true;
        },
        closeModal(){
            this.showModal = false;
        },
        initForm(){
            this.showModal = true, 
            this.toUpdate = false,
            this.id = '',
            this.nom = '',
            this.prenoms = '',
            this.email = '',
            this.whatsapp = ''
        },
        deleteContact(contact){
            let confirmActtion = confirm("Voulez-vous vraiment supprimer ?")
            if(confirmActtion){
                this.loadingClass = 'loading'
                axios.delete(this.apiURL+'deleteContact/'+contact._id)
                .then((res) => {   
                    if(res.statusText === 'OK'){
                        this.loadingClass = 'noLoading'
                        alert("Contact supprimé")
                        console.log("resultat delete : ", res.data, "retour serv : ", res)
                        this.$router.go()
                    }else{
                        alert("Erreur lors de la suppression !!!")
                        this.loadingClass = 'noLoading'
                        console.log("resultat delete : ", res.data, "retour serv : ", res)
                        this.$router.go()
                    }                
                })
            }else{
                return
            }             
        },
        logout(){          
             axios.post(this.apiURL+'updateUserState', new URLSearchParams(
              {
                  id: this.id,
                  userState: false                  
              }))
              .then((res) => 
              {
                if(res.statusText === 'OK'){
                    console.log("Disconnected : ", res.data, "retour serv : ", res)
                    this.$router.push("/")           
                }else{
                    console.log("NOt disconnected : ", res.data, "retour serv : ", res)
                }                
              })
              
        }
    }
}
</script>
